/**
* Typoread
*
* @project Typoread
* @author Jan Sládek (me@honzasladek.com)
*
* @media all
*
*/

/**
* @subsection Defaults
*
*/
html,body {
	margin: 0; padding: 0;
	}
	html {	
		background: #303030 url("http://github.com/honzasladek/Typoread/raw/master/background.png") repeat;
		}
	body { 
		color: #2c3f25; line-height: 1.3; font-family: Georgia,serif; font-size: 16px;
		background: #fefefe; 
		margin: 20px auto; padding: 30px;
		min-width: 500px; max-width: 760px; 
		/* prefixed */ -webkit-box-shadow: 0px 0px 20px #000; -moz-box-shadow: 0px 0px 20px #000;
		box-shadow: 0px 0px 20px #000;
		}

img,object {
	max-width: 100%;
}

table { font-size: inherit; font: 100%; }
pre,code,kbd,samp,tt { font-family: monospace; *font-size: 108%; line-height:100%; }

/**
* @subsection Headings
*
*/
h1,h2,h3,h4,h5,h6 { 
	margin: 0; padding: 0;
	font-weight: normal; font-style: normal; line-height: 1.4; color: #000;
	}
	h1 { font-size: 36px; margin: 0 0 1em; }
	h2 { font-size: 24px; margin: 2em 0 .5em; }
	h3 { font-size: 21px; margin: 2em 0 .5em; }
	h4 { font-size: 18px; margin: 2em 0 .5em; }
	h5 { font-size: 16px; margin: 2em 0 .5em; }
	h6 { font-size: 16px; margin: 2em 0 .5em; }

/**
* @subsection Texts
*
*/
b,strong,th,thead,dt,legend { font-weight: bold; color: #496d3b; text-shadow: 0 1px 0 #fff; }
caption,cite,dfn,em,i { font-style: italic; color: #888; }
code,kbd,samp,pre,tt,var { font-family: mono-space, monospace; }

p { 
	margin: 0.5em 0;
	color: #333; font-size: 16px; line-height: 1.4;
	hyphenate: auto; hyphenate-lines: 3;
	}
	p+p {
		margin-top: 0.5em;
	}

blockquote { color: #666; font-style: italic; }

abbr,code,kbd,samp,small,var { line-height: 15px; }

abbr, acronym { border-bottom: 1px dotted #666; }
address { font-style: italic; }
del { color:#666; }

ul,ol,dl,dialog { font-size: 16px; line-height: 1.4;  }

/**
* @subsection links
*
*/
a { color: #000; border-bottom: 1px dotted #000; text-decoration: none; }
	a:hover,a:focus,a:active { text-decoration: none; border-bottom-style: solid; }
	a:active { position: relative; top: 1px; }
a img {	border: 0; }